.header-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
    width: 100%;
    height: 64px;
}

.header-title {
    margin: 0 5% ;
    font-size: 48px;
    font-family: Century;
    font-weight: bold;
}

.header-list {
    display: flex;
    margin: 0 5%;
}

.header-item {
    font-size: 20px;
    font-weight: bold;
    font-family: Century; 
    padding: 0 1rem;   
}

.main-top {
    background-image: url(../img/giorgio-trovato-XBcURNhKeog-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 480px;
    text-align: end;
}

.main-top-text {
    position: absolute;
    top: 50%;
    left: 64%;
}

.main-text {
    font-size: 24px;
    font-weight: bold;
    line-height: 48px;
}

.section-concept {
    display: flex;
    justify-content: space-between;
    padding: 48px 0;
    background-color: #C81912;
    align-items: center;
}

.concept-text {
    color: white;
    text-align: center;
    margin: 0 auto 3rem;
    font-family: Century;
    font-weight: bold;
    width: 56%;
}

.concept-text-top {
    font-size: 40px;
    margin-bottom: 16px;
}

.concept-img-box {
    margin: 0 auto;
}
.concept-img {
    width: 480px;
    height: max-content;
}

.section-price {
    display: flex;
    width: 100%;
    font-family: Century;
    margin-bottom: 3rem;
}

.price-left {
    margin: auto;
    padding-left: 3rem;
    width: 36%;
}

.price-img {
    width: 100%;
}

.price-right {
    margin: 32px 0;
    width: 64%;
}

.price-title {
    font-size: 40px;
    font-weight: bold;
    font-family: century;
    margin-bottom: 24px;
    text-align: center;
}

.price-about {
    margin: 0 3rem 3rem;
    height: 80%;
    border-bottom: 2px solid;
    padding-bottom: 3rem;
}
.price-text {
    font-size: 16px;
    font-family: century;
    border-bottom: dashed 1px;
    clear: both;
}

.price-text-top {
    font-size: 16px;
    font-family: century;
    border-bottom:  2px solid;
    clear: both;
 
}

.left {
    width: 50%;
    float: left;
    clear: both;
    padding: 16px 4% 16px;
}

.left-top {
    width: 50%;
    float: left;
    clear: both;
    padding: 32px 4% 16px;

}

.price-item {
    display: flex;
    justify-content: space-between;
    padding: 4px 0;
    font-weight: bold;
}

.right {
    width: 50%;
    float: left;
    padding: 16px 4% 16px;

}

.price-bottom {
    text-align: end;
    padding-right: 3rem;
    color: red;
}

.section-access {
    display: flex;
    justify-content: space-between;
    padding: 48px 0;
    background-color: #C81912;
}

.access-left {
    width: 40%;
    color: white;
}

.access-title {
    font-size: 40px;
    font-weight: bold;
    font-family: century;
    margin-bottom: 4rem;
    text-align: center;
}

.access-menu {
    display: flex;
    padding: 1.9rem 0 1.1rem 7rem;
}
.access-about {
    font-family: Century;
    font-weight: bold;
    color: white;
}
.access-item {
    width: 13rem;
    font-size: 1.4rem;
}

.hour-detail {
    text-align: left;
}

.access-right {
    width: 60%;
    text-align: center;
}

footer {
    text-align: center;   
    height: 6rem;
}    

.footer-list {
    display: flex;
    justify-content: center;
}
    
.footer-item {
    font-size: 20px;
    padding: 1rem 1.5rem;
}

.footer-bottom {
    font-family: century;
}