.header-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
    width: 100%;
    height: 64px;
}

.header-title {
    margin: 0 5% ;
    font-size: 48px;
    font-family: Century;
    font-weight: bold;
}

.header-list {
    display: flex;
    margin: 0 5%;
}

.header-item {
    font-size: 20px;
    font-weight: bold;
    font-family: Century; 
    padding: 0 1rem;   
}

@media screen and (max-width: 480px) {
    .header-body {
        display: block;
        margin: 2rem 0 3rem 0;
    }
    .header-title {
        text-align: center;
        margin: 0 5% 1rem;
    }
    .header-list {
        justify-content: center;
    }
    .header-item {
        font-size: 12px;
        padding: 0 0.5rem;
    }
}

.main-top {
    background-image: url(../img/main-photo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 520px;
    text-align: end;
    background-position: center;
}

.main-top-text {
    position: absolute;
    top: 50%;
    left: 64%;
}

.main-text {
    font-size: 24px;
    font-weight: bold;
    color: white;
    line-height: 48px;
}

@media screen and (max-width: 480px) {
    .main-top {
        height: 15rem;
    }
    .main-top-text {
        position: absolute;
        top: 31%;
        left: 20%;
    }
    .main-text {
        font-size: 20px;
        line-height: unset;
    }
}
@media screen and (max-width: 410px) {
    .main-top-text {
        left: 13%;
    }
}
@media screen and (max-width: 400px) {
    .main-top-text {
        top: 39%;
        left: 11%;
    }
}


.section-concept {
    display: flex;
    justify-content: space-between;
    padding: 48px 0;
    align-items: center;
    background-image: url(../img/background.png);
}

.concept-text {
    text-align: center;
    margin: 0 auto 3rem;
    font-family: Century;
    font-weight: bold;
    width: 56%;
}

.concept-text-top {
    font-size: 40px;
    margin-bottom: 16px;
}

.concept-img-box {
    margin: 0 auto;
}
.concept-img {
    width: 480px;
    height: max-content;
}

@media screen and (max-width: 480px) {
    .section-concept {
        display: block;
    }
    .concept-img-box {
        text-align: center;
    }
    .concept-img {
        width: 80%;
        height: auto;
    }
    .concept-text-bottom {
        line-height: 1.7rem;
    }
}
.section-price {
    display: flex;
    width: 100%;
    font-family: Century;
    margin-bottom: 3rem;
    
}

.price-left {
    margin: auto;
    padding-left: 3rem;
    width: 36%;
}

.price-img {
    width: 100%;
}

.price-right {
    margin: 32px 0;
    width: 64%;
}

.price-title {
    font-size: 40px;
    font-weight: bold;
    font-family: century;
    margin-bottom: 24px;
    text-align: center;
}

.price-list {
    margin: 0 3rem 3rem;
    height: 80%;
    border-bottom: 2px solid;
    padding-bottom: 3rem;
}
.price-text {
    font-size: 16px;
    font-family: century;
    border-bottom: dashed 1px;
    clear: both;
}

.price-text-top {
    font-size: 16px;
    font-family: century;
    border-bottom:  2px solid;
    clear: both;
 
}

.left {
    width: 50%;
    float: left;
    clear: both;
    padding: 16px 4% 16px;
}

.left-top {
    width: 50%;
    float: left;
    clear: both;
    padding: 32px 4% 16px;

}

.price-item {
    display: flex;
    justify-content: space-between;
    padding: 4px 0;
    font-weight: bold;
}

.right {
    width: 50%;
    float: left;
    padding: 16px 4% 16px;

}

.price-bottom {
    text-align: end;
    padding-right: 3rem;
    color: red;
}

@media screen and (max-width: 480px) {
    .section-price {
        flex-direction: column-reverse;
    }
    .price-list {
        margin: 0 1.5rem 2rem;
        padding-bottom: 2rem;
    }
    .price-right {
        width: 100%;
    }
    .price-text {
        border: none;
    }
    .left {
        float: none;
        width: 100%;
        border-top: dashed 1px;
        padding: .7rem 4% 0;
    }
    .left-top {
        width: 100%;
    }
    .right {
        width: 100%;
        padding: 0 4% .7rem;
    }
    .price-bottom {
        font-size: .7rem;
        padding: 0;
        margin-right: 1.5rem;
    }
    .price-left {
        padding: 0;
        width: 80%;
    }

}

@media screen and (max-width: 400px) {
    .price-bottom {
        text-align: center;
        margin-right: 0;
    }
}
.section-access {
    display: flex;
    justify-content: space-between;
    padding: 48px 0;
    background-image: url(../img/background.png);
}

.access-left {
    width: 40%;
}

.access-title {
    font-size: 40px;
    font-weight: bold;
    font-family: century;
    margin-bottom: 4rem;
    text-align: center;
}

.access-menu {
    display: flex;
    padding: 1.9rem 0 1.1rem 7rem;
}
.access-about {
    font-family: Century;
    font-weight: bold;
    /* color: white; */
}
.access-item {
    width: 13rem;
    font-size: 1.4rem;
}

.hour-detail {
    text-align: left;
}

.access-right {
    width: 60%;
    text-align: center;
}

.google-map-sp {
    width: 360px;
    height: 270px;
    border: 0 ;

}

@media screen and (max-width: 480px) {
    .section-access {
        display: block;
    }
    .access-left {
        width: 100%;
    }
    .access-about {
        margin-bottom: 2rem;
    }
    .access-title {
        margin-bottom: 24px;
    }
    .access-menu {
        padding: 1.5rem;
    }
    .access-item {
        width: 11rem;
    }
    .access-right {
        display: none;
    }
    .access-sp-map {
        text-align: center;
    }

}
@media screen and (min-width: 481px) {
    .access-sp-map {
        display: none;
    }
}

footer {
    text-align: center;   
    height: 6rem;
}    

.footer-list {
    display: flex;
    justify-content: center;
}
    
.footer-item {
    font-size: 20px;
    padding: 1rem 1.5rem;
}

.footer-bottom {
    font-family: century;
}